<h1>{{ title }}</h1>


<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
        <label>
            Username:
            <input type="text" formControlName="username">
        </label>
    </div>

    <div formGroupName="credentials">
        <div>
            <label>
                Email:
                <input type="text" formControlName="email">
            </label>
        </div>

        <div>
            <label>
                Password:
                <input type="text" formControlName="password">
            </label>
        </div>
    </div>

    <div formGroupName="address">
        <label>
            Street:
            <input type="text" formControlName="street">
        </label>

        <label>
            Postal Code:
            <input type="text" formControlName="postal">
        </label>

        <label>
            City:
            <input type="text" formControlName="city">
        </label>
    </div>

    <button type="submit" [disabled]="!userForm.valid">Submit</button>
    <!-- <button (click)="signIn()">Sign In</button> -->
</form>

<div *ngIf="userDisplay">
    <div *ngFor="let user of users; index as i">
        <!-- {{ username.value }}
        {{ email.value }}
        {{ password.value }}
        {{ street.value }}
        {{ postal.value }}
        {{ city.value }} -->
        <h2>User {{i+1}}</h2>
        <p>{{user.username}}</p>
        <p>{{user.email}}</p>
        <p>{{user.password}}</p>
        <p>{{user.street}}</p>
        <p>{{user.postal}}</p>
        <p>{{user.city}}</p>
    </div> 
</div>

