<h1>{{ title }}</h1>


<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
        <label>
            Username:
            <input type="text" formControlName="username">
        </label>
    </div>

    <div formGroupName="credentials">
        <div>
            <label>
                Email:
                <input type="text" formControlName="email">
            </label>
        </div>

        <div>
            <label>
                Password:
                <input type="text" formControlName="password">
            </label>
        </div>
    </div>

    <div formGroupName="address">
        <label>
            Street:
            <input type="text" formControlName="street">
        </label>

        <label>
            Postal Code:
            <input type="text" formControlName="postal">
        </label>

        <label>
            City:
            <input type="text" formControlName="city">
        </label>
    </div>

    <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>


